@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<table class="table table-striped" border="1">
    <thead>
        <tr>
            <th scope="col">#Code</th>
            <th scope="col">Name</th>
            <th scope="col">Purchase price</th>
            <th scope="col">Selling price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total price</th>
        </tr>
    </thead>
    <tbody>
        <tr onmouseenter="ChangeToBlue()" onmouseleave="ChangeToTransparent()">
            <td>51651</td>
            <td>Molotok</td>
            <td data-purchaseprice="12">12</td>
            <td>15</td>
            <td data-quantity ="143">143</td>
            <td>143</td>
        </tr>
        <tr onmouseenter="ChangeToBlue()" onmouseleave="ChangeToTransparent()">
            <td>51651</td>
            <td>Molotok</td>
            <td>12</td>
            <td>15</td>
            <td>143</td>
            <td>143</td>
        </tr>
        <tr onmouseenter="ChangeToBlue()" onmouseleave="ChangeToTransparent()">
            <td>51651</td>
            <td>Molotok</td>
            <td>12</td>
            <td>15</td>
            <td>143</td>
            <td>143</td>
        </tr>
    </tbody>
</table>


<script>

    function ChangeToBlue() {
        event.target.style.background = '#FFA';
    }

    function ChangeToTransparent() {
        event.target.style.background = 'transparent';
    }

    function TotalSum() {
        return 15;
    }

    //onmouseenter = function () {
    //    if (this.event.target.dataset.row1 != undefined)
    //        this.event.target.style.background = 'blue';
        
    //}

    //onmouseleave = function () {
    //    if (this.event.target.dataset.row1 != undefined)
    //        this.event.target.style.background = 'transparent';

    //}
    
</script>