@{
    ViewBag.Title = "Home Page";
}

<h1>C# Beginner Questions</h1>

<br /><br />

<ol style="font-size: large">

    @if (ViewBag.items != null)
    {
        foreach (var item in ViewBag.items)
        {
            <li>
                <h5 style="font-size: large">@item.Question</h5>
                <a onclick="myFunction(@item.Id)" href="#" style="font-size: small">Answer...</a>
                <div id=@item.Id style="background-color: aquamarine; display: none; border-radius: 25px; padding: 10px">
                    @item.Answer
                </div>
                <br />
            </li>
        }
    }
</ol>

<input type="button" id="sm" class="btn-group-xs" onclick="myFunction('addForm')" value="+"/>

<div id="addForm" style="display: none">
    <h3>Add new Question</h3>
    <form method="post" action="">
        <input type="hidden" value="Beginner" name="Type" />
        <p>New question: </p>
        <textarea name="Question" style="margin: 10px"></textarea>
        <p>Answer: </p>
        <textarea name="Answer" style="margin: 10px"></textarea>
        <div>
            <input type="submit" value="Add" />
        </div>
    </form>
</div>

<script>
    function myFunction(id) {
        var x = document.getElementById(id);

        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        if ((x.style.display === "block") && (x.id === 'addForm')) {
            document.getElementById('sm').setAttribute('value', '-');
        }
        else if ((x.style.display === "none") && (x.id === 'addForm')) {
            document.getElementById('sm').setAttribute('value', '+');
        }
    }
</script>











@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@